
/* body{
	/* background-color:#0c1413 !important; */
/* } */ 
footer {
	background-color: #bac9cf;
	bottom: 0;
	color: #14181b;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
li{
	font-weight: bold;
}
nav .navbar-nav li a{
    color:rgb(19, 133, 19) !important;
    
 }
 nav .navbar-nav li:hover{
        background:#7ceed3;
        transition: 1s;
        display: flex;
        }
  /*---------------------
  Hero
-----------------------*/
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    filter: inherit;
    isolation: isolate;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hero-section .wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, #8e44ad, #EE7752, #E73C7E, #23A6D5, #23D5AB, #27ae60, #ffc75f, #f9f871);
    background-size: 600% 600%;
    animation: change 15s ease-in-out infinite;
}

.hero-section .wave span {
    position: absolute;
    width: 325vh;
    height: 325vh;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.wave span:nth-child(1) {
    animation: animatewave 5s linear infinite;
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
}

.hero-section .wave span:nth-child(2) {
    animation: animatewave 10s linear infinite;
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
}

.hero-section .wave span:nth-child(3) {
    animation: animatewave 15s linear infinite;
    border-radius: 42.5%;
    background: rgba(20, 20, 20, 0.5);
}

@keyframes animatewave {
    0% {
        transform: translate(-55%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-55%, -75%) rotate(360deg);
    }
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.hero-text {
    padding-top: 184px;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    z-index: 2;
    height: 100vh;
}

.hero-section .hero-text span {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-section .hero-text h2 {
    font-size: 60px;
    color: #ffffff;
    line-height: 72px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 35px;
}


/* story */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:  'Poppins', sans-serif;
}

.section{
    width:100%;
    min-height:50vh;
    background-color:#ddd;
}
.container{
    width:80%;
    display:block;
    margin:auto;
    padding-top:100px;
}
.content-section{
    float:left;
    width:55%;
}
.image-section{
    float:right;
    width:40%;
}
.image-section img{
    width:100%;
    height:auto;
}
.container-section .title{
    text-transform: uppercase;
    font-size:20px;
}
.container-section .content h3{
    margin-top:20px;
    color:#5d5d5d;
    font-size:19px;
}
.content-section .content p{
    margin-top:10px;
    font-family:'Lobster', cursive;
    font-size:18px;
    Line-height:1.5;
}
content-section .content .button a{
     margin-top:30px;   
}
.content-section .content .button a{
    background-color:#3d3d3d;
    padding:12px 40px;
    text-decoration:none;
    color:#fff;
    font-size:25px;
    Letter-spacing:1.5px;
}
.content-section .content .button a:hover{
    background-color:green;
    color:#fff;
}
.content-section .social{
    margin:40px 40px;
}
.content-section .social i{
    color:green;
    font-size:30px;
    padding:0px 10px;

}
.content-section .social i:hover{
    color:#3d3d3d;
}
@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display:block;
        margin:auto;
        padding-top:50px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:  'Poppins', sans-serif;
}
.section{
    width:100%;
    min-height:70vh;
    background-color:#ddd;
}
.container{
    width:80%;
    display:block;
    margin:auto;
    padding-top:100px;
}
.content-section{
    float:left;
    width:55%;
}
.image-section{
    float:right;
    width:40%;
}
.image-section img{
    width:100%;
    height:auto;
}
.container-section .title{
    text-transform: uppercase;
    font-size:20px;
}
.container-section .content h3{
    margin-top:20px;
    color:#5d5d5d;
    font-size:19px;
}
.content-section .content p{
    margin-top:10px;
    font-family:  'Poppins', sans-serif;
    font-size:18px;
    Line-height:1.5;
}
content-section .content .button a{
     margin-top:30px;   
}
.content-section .content .button a{
    background-color:#3d3d3d;
    padding:12px 40px;
    text-decoration:none;
    color:#fff;
    font-size:25px;
    Letter-spacing:1.5px;
}
.content-section .content .button a:hover{
    background-color:#a52a2a;
    color:#fff;
}
.content-section .social{
    margin:40px 40px;
}
.content-section .social i{
    color:#a52a2a;
    font-size:30px;
    padding:0px 10px;

}
.content-section .social i:hover{
    color:#3d3d3d;
}
@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display:block;
        margin:auto;
        padding-top:50px;
    }
}
* body{
    margin:0;
    padding:0;
    background-image:none;
    background-color: #3d3d3d;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center center;
    height:90vh;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width:1170px;
    margin:5% auto;
}
.wrapper h2{
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
    font-size:60px;
    color:#fff;
    margin:0;
}
.single-service{
    position: relative;
    width:31%;
    height:320px;
    background:#fff;
    box-sizing:border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    margin-bottom: 50px;
    text-align:center;
}
.line{
    width:150px;
    height:3px;
    background:#fff;
    margin:0 auto 60px auto;
}
.single-service p{
    color:#262626;
    font-size:14px;
}
.single-service h3{
    font-size:25px;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#262626;
}
.social1{
    width:60px;
    height:60px;
    background:#262626;
    border-radius:50%;
    margin:5% auto;
}
.social1 i{
    font-size:30px;
    padding:15px;
    color:#fff;
}
.single-service span{
    position:absolute;
    top:0;
    left:-110%;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    transition: .7s;
    transform: skewX(10deg);
}
.single-service:hover span{
    left:110%;
}
