
body{
	background-color:#0c1413 !important;
}
footer {
	align-items: center;
	background-color: #bac9cf;
	bottom: 0;
	color: #14181b;
	display: flex;
	height: 200px;
	justify-content: center;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
}
  
